<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lamp</title>
</head>

<body>

<section class="container">

<h1> Lamp </h1>

<div id="comment"></div>
<br><br>

<dialog  id="passwordDialog">
	Network: <span id="selectedSSID"></span>
	<br>
	Password: <input type="text" id="selectedPassword"> 
	<br><br>
	<button type="button" class="btn btn-primary" onclick="connectToNetwork()">Connect</button>
	<button type="button" class="btn btn-secondary" onclick="closeDialog()">Close</button>
</dialog>
<div id="ssidTable"></div>

</section>







<svg>
	<defs>
	   <g id="wifi1">
		   <path d="M11.046 10.454c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.708-.707z"/>
	   </g>
	   <g id="wifi2">
		   <path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
	   </g>
	   <g id="wifi3">
		   <path d="M15.385 6.115a.485.485 0 0 0-.048-.736A12.443 12.443 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.717 2.164.204.148.489.13.668-.049z"/>
		   <path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.472 6.472 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
	   </g>
		<g id="lock">
		   <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
	   </g>
	</defs>
</svg>



<style>
	/* body {
		text-align: center;
	}
	table {    
		margin-left:auto; 
    	margin-right:auto;
	}
	button {
		font-size: 16px;
		border-radius: 4px;

		background-color: white;
  		color: black;
  		border: 2px solid #008CBA;
		  padding: 8px 28px;
		  transition-duration: 0.4s;
	} 


	button:hover {
  		background-color:  #008CBA; 
  		color: white;
	} */
</style>



<script>
var wifiStatus = 0;
var ssid = "";
var localIP = "";

selectNetwork = function(ssid){
	document.getElementById("selectedSSID").innerHTML = ssid;
	document.getElementById("selectedPassword").value = "";
	document.getElementById("passwordDialog").show(); 
}

connectToNetwork = function(ssid){
	document.getElementById("passwordDialog").close();
	var ssid = document.getElementById("selectedSSID").innerHTML;
	var pass = document.getElementById("selectedPassword").value;

	statusCell = document.getElementById(ssid);
	statusCell.innerHTML = "Connecting";
	//console.log(statusDiv);

	var xhr = new XMLHttpRequest();
	xhr.onload = function () {
		if (xhr.status >= 200 && xhr.status < 300) {
			console.log("connect message sent");
			refreshData();
			document.getElementById("passwordDialog").close();
		} else {
			console.log('failed!');
		}
	};

	xhr.open('GET', 'http://192.168.4.1/changeWiFiSettings?ssid=' + ssid + '&pass=' + pass);
	xhr.send();
}

closeDialog = function(){
	document.getElementById("passwordDialog").close();
}



populateTable = function(json){
	var table = document.createElement("table");
	table.className = "table";

	for (var i=0; i<json.length; i++) {
		tr = table.insertRow(-1);

		// Green row
		if ((json[i]['ssid'] == ssid)  && (wifiStatus == 3)){
			tr.className += "table-success";
		}
		
		//SSID
		var tabCell = tr.insertCell(-1);
		tabCell.innerHTML = "<b>" + json[i]['ssid'] + "</b>";

		//RSSI
		var tabCell = tr.insertCell(-1);
		var wifiIcon = "";
		if (json[i]['rssi'] >= -60){
			wifiIcon = '#wifi3';
		} else if (json[i]['rssi'] >= -70){
			wifiIcon = '#wifi2';
		} else {
			wifiIcon = '#wifi1';
		}			
		tabCell.innerHTML = '<svg ng-if="s.rssi<=-80" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="'+wifiIcon+'"/></svg>';
		tabCell.innerHTML += json[i]['rssi'];

		//Security
		var tabCell = tr.insertCell(-1);
		if (json[i]['encr'] != 0){
			tabCell.innerHTML = '<svg ng-if="s.encr!=0" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#lock"/></svg>';
		}

		//Connect
		var tabCell = tr.insertCell(-1);
		tabCell.id = json[i]['ssid'];

		if (json[i]['ssid'] == ssid){

			if (wifiStatus == 3){
				tabCell.innerHTML = "Connected";
			} else if (wifiStatus == 0){
				tabCell.innerHTML = "Connecting";
			} 
		} else {
			tabCell.innerHTML = "<button class='btn btn-outline-primary' onclick='selectNetwork(\""+json[i]['ssid']+"\")'> Connect </button>";
		}




		// <!-- WL_NO_SHIELD        = 255,   // for compatibility with WiFi Shield library
		// 				WL_IDLE_STATUS      = 0,
		// 				WL_NO_SSID_AVAIL    = 1,
		// 				WL_SCAN_COMPLETED   = 2,
		// 				WL_CONNECTED        = 3,
		// 				WL_CONNECT_FAILED   = 4,
		// 				WL_CONNECTION_LOST  = 5,
		// 				WL_DISCONNECTED     = 6 -->


	
	}

	// FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
	var divContainer = document.getElementById("ssidTable");
	divContainer.innerHTML = "";
	divContainer.appendChild(table);
}

refreshData = function() {
	var xhr = new XMLHttpRequest();
	xhr.onload = function () {
		if (xhr.status >= 200 && xhr.status < 300) {
			json = JSON.parse(xhr.response);
			wifiStatus = json['wifiStatus'];
			ssid = json['ssid'];
			localIP = json['localIP'];

			if (wifiStatus ==3) {
				document.getElementById("comment").innerHTML = "<h2> Connected to " + ssid + "</h2>";
				document.getElementById("comment").innerHTML += "<h3> Reconnect your wifi to " +ssid+ " and go to <a href='http://" +localIP+"'> http://" +localIP+" </a> </h3>";
			} else {
				document.getElementById("comment").innerHTML = "";
			}
			

			populateTable(json['wifiScan']);
		} else {
			console.log('failed!');
		}
	};

	xhr.open('GET', 'http://192.168.4.1/wifiStatus');
	xhr.send();
}

refreshData();
setInterval(refreshData, 10000);

</script>





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</body>

</html>