
<br>
<div class="card">
	<div class="card-header">
		
		<h3> Settings </h3>
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item"><a class="nav-link" ui-sref="settings.vars" ui-sref-active="active">Variables</a></li>
			<li class="nav-item"><a class="nav-link" ui-sref="settings.mqtt" ui-sref-active="active">MQTT</a></li>
			<li class="nav-item"><a class="nav-link" ui-sref="settings.wifi" ui-sref-active="active">WiFi</a></li>
			<li class="nav-item"><a class="nav-link" ui-sref="settings.firmware" ui-sref-active="active">Firmware</a></li>
		</ul>
	</div> 


	<div class="card-body" ng-if="$state.current.name=='settings.vars'">
		<pre>{{lampState | prettyPrintJson}}</pre>
	</div>


	<div class="card-body" ng-if="$state.current.name=='settings.wifi'">

		<div class="row">
			
			<div class="col-sm-9">

				<div class="row">
					<div class="col-md-4 text-right"><b> IP Address: </b></div> 
					<div class="col-md-8"> {{settings.localIP }}</div>
					<!-- s<div class="col-md-8"> <input class="form-control" ng-model="settings.wifi_current_ssid"> </div> -->
				</div>

				<div>
								<svg>
									<defs>
										<g id="wifi1">
											<path d="M11.046 10.454c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.708-.707z"/>
										</g>
										<g id="wifi2">
											<path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
										</g>
										<g id="wifi3">
											<path d="M15.385 6.115a.485.485 0 0 0-.048-.736A12.443 12.443 0 0 0 8 3 12.44 12.44 0 0 0 .663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.717 2.164.204.148.489.13.668-.049z"/>
											<path d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.456 9.456 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.472 6.472 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091l.015-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z"/>
										</g>
										<g id="lock">
											<path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
										</g>
									</defs>
								
								</svg>

					<table class="table">
						<tr><th>SSID</th><th>RSSI</th><th>Encryption</th><th>Connection</th></tr>
						<tr ng-repeat="s in wifiScanResults" ng-Class="{'table-success' : s.ssid==ssid}">
							<td> <b>{{s.ssid}}</b> </td>
							<td> 
								<svg ng-if="s.rssi<=-80" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#wifi1"/></svg>
								<svg ng-if="s.rssi>-80 && s.rssi<-60" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#wifi2"/></svg>
								<svg ng-if="s.rssi>=-60" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#wifi3"/></svg>
							</td>
							<td> 
								<svg ng-if="s.encr!=0" width="32" height="32" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#lock"/></svg>
							</td>
							<td> 
								<span ng-if="s.ssid == settings.ssid"> Connected </span>
								<button ng-if="s.ssid != settings.ssid" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="{{s.ssid}}" ng-click="openNewWiFiModal(s.ssid)">connect</button>
							</td>
						</tr>
					</table>



					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" > Connect to {{newWiFiSsid}} </h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="recipient-name" class="col-form-label">password:</label>
									<input type="text" class="form-control" id="pass" ng-model="newWiFiPass">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Connect</button>
						</div>
						</div>
					</div>
					</div>


					<script>
						$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var recipient = button.data('whatever') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-title').text('New message to ' + recipient)
		modal.find('.modal-body input').val(recipient)
		})

					</script>




				</div>
				

			</div>
		</div>	



	</div>

	<div class="card-body" ng-if="$state.current.name=='settings.mqtt'">

		<div class="row">
			<div class="col-sm-3"><h3> MQTT settings </h3></div>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-md-4 text-right"><b> Server: </b></div> 
					<div class="col-md-8"> <input class="form-control" ng-model="settings.mqtt_server"> </div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b> Port: </b></div> 
					<div class="col-md-8"> <input class="form-control" ng-model="settings.mqtt_port"> </div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b> Username: </b></div> 
					<div class="col-md-8"> <input class="form-control" ng-model="settings.mqtt_username"> </div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b> Password: </b></div> 
					<div class="col-md-8"> <input class="form-control" ng-model="settings.mqtt_password"> </div>
				</div>
			</div>
		</div>	

	</div>




	<div class="card-body" ng-if="$state.current.name=='settings.firmware'">

		<div class="row">
			<div class="col-sm-3"><h3> Firmware </h3></div>
			<div class="col-sm-9">
				<form method='POST' action='/update' enctype='multipart/form-data'>
					Firmware:<br>
					<input type='file' accept='.bin,.bin.gz' name='firmware'>
					<input type='submit' value='Update Firmware'>
				</form>
				<form method='POST' action='/update' enctype='multipart/form-data'>
					FileSystem:<br>
					<input type='file' accept='.bin,.bin.gz' name='filesystem'>
					<input type='submit' value='Update FileSystem'>
				</form>
			</div>
		</div>	

	</div>



</div>